* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #9b9e9f;
  font-size: 10px;
}

body {
  display: grid;
  place-items: center center;
}

::-webkit-scrollbar {
  display: none;
}

#chat-container {
  display: grid;
  grid:
      'search-container chat-title' 60px
      'chat-list message-list' 1fr
      'new-message-container chat-form' 78px
      / 400px 1fr;
  min-width: 1000px;
  max-width: 1200;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: #FFF;  
}

#search-container {
  display: grid;
  align-items: center;
  grid-area: search-container;
  background: #f5f5f5;
  padding: 0 20px;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,0.75);
  z-index: 1;
  height: 120px;
}

#search-container input {
  color: #afafaf;
  outline: none;
  font-weight: normal;
  border-radius: 20px;
  height: 30px;
  border: 0;
  padding-left: 48px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  background: url('../src/images/search.png') no-repeat rgba(250,250,250,255);
  background-position: 15px center;
  background-size: 20px 20px;
}

#search-container input::placeholder {
  color: #afafaf;
  font-weight: normal;
}

#search-container img {
  border-radius: 100%;
  grid-row: span 2;
  height: 50%;
  width: auto;
  padding-bottom: 10px;
}

#chat-list {
  grid-area: chat-list;
  background: #ffffff;
  overflow-y: scroll;
  margin-top: 60px;
}

#chat-list h2 {
  color: #8dd6f3;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 10px;
  margin-bottom: 50px;
}

.conversation {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 1.4rem;
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 15px 15px 15px;
}

.conversation.active,
.conversation:hover {
  background: #f5f5f5;
}

.conversation:hover {
  cursor: pointer;
}

.conversation > img {
  grid-row: span 2;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.title-text {
  font-weight: normal;
  color: #9b9e9f;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.created-date {
  color: #ddd;
  white-space: nowrap;
  font-size: 1rem;
}

.conversation-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#chat-title {
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  grid-area: chat-title;
  background: #f5f5f5;
  color: #585858;
  font-weight: normal;
  font-size: 2.0rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,0.75);
  padding: 0 20px;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
}

#chat-title > img {
  cursor: pointer;
  grid-row: span 2;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}

.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.message-content {
  display: grid;
}

.you-message {
  justify-content: end;
}

.you-message .message-content {
  justify-items: end;
}

.other-message {
  justify-items: start;
}

.other-message .message-content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 15px;
}

.message-row img {
  border-radius: 100%;
  grid-row: span 2;
}

.message-time {
  font-size: 1.3rem;
  color: #777;
}

.message-text {
  padding: 9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.you-message .message-text {
  background: #0048AA;
  color: #eee;
  border: 1px solid #0048AA;
  border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}

#chat-form {
  background: #eee;
}

#chat-form > img {
  cursor: pointer;
}

#chat-form {
  display: grid;
  grid: 51px / 32px 1fr;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  padding-left: 42px;
  padding-right: 22px;
}

#chat-form input {
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #330;
  border-radius: 6px;
  font-size: 1.4rem;
}